.pie_title {
	font-size: 14px;
	color: $dark-blue;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-20px);
	&.year2021 {
		transform: translate(-90px, -20px);
	}
}

.customLegend-item {
	svg {
		margin-right: 10px;
	}
}
