.inputFileUpload {
	margin-bottom: 32px;
	margin-top: 65px;
	display: flex;
	justify-content: flex-end;

	button {
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		outline: none;
		background: rgba($color: #000000, $alpha: 0.6);
		padding: 10px 15px;
		border-radius: 5px;
		&.upload:hover {
			svg {
				transform: rotate(360deg);
			}
		}
		&:hover {
			svg {
				opacity: 0.6;
			}
		}
	}
	svg {
		transition: all 0.5s;
		fill: $white;
	}
}
