.vericalLegend {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	transform: translateY(50px);
	//margin-top: 50px;
	gap: 10px;
	font-size: 14px;
	color: #606c80;
	svg {
		margin-right: 10px;
	}
}

@media screen and (max-width: 1480px) {
	.vericalLegend {
		transform: translateY(0px);
		margin-top: 50px;
		padding-left: 10%;
	}
}
