#interests {
	.audience__container {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}
.audience__selector {
	width: 100%;
	.tooltip {
		&::after {
			left: initial;
			right: calc(100% + 10px);
			top: 100%;
		}
		path {
			fill: $dark-blue;
		}
	}
}
